@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@400;700&display=swap");

html {
  background-color: #fefff5;
  margin: 0 10%;
}

#navbar,
#grid_main {
  user-select: none;
}

.header {
  font-family: "Fredoka One", sans-serif;
  color: #005c02;
}

p,
span,
label,
button,
li,
a {
  font-family: "Open Sans", sans-serif;
  color: #000b1d;
}

a {
  text-decoration: none;
  color: #000b1d;
  cursor: pointer;
}

#grid_main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 5px;
  text-decoration: none;
}

#index_tut,
#index_rec {
  display: flex;
  align-content: center;
  border: 1px solid #000b1d;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  padding-bottom: 10px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

#index_tut h2,
#index_rec h2 {
  font-size: 40px;
}

#index_tut {
  background-image: url("https://images.unsplash.com/photo-1514986888952-8cd320577b68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=60");
}

#index_rec {
  background-image: url("https://images.unsplash.com/flagged/photo-1558937305-efe8474d0244?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=60");
}

.tut_grid_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
  text-decoration: none;
}

.box {
  text-align: center;
  color: #000b1d;
}

.box img {
  border: 4px solid #000b1d;
}

.box h5 {
  font-family: "Open Sans", sans-serif;
  color: #000b1d;
  font-weight: bolder;
  margin-top: 5px;
}

#rec_grid1,
#rec_grid2,
#rec_grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 40px;
  justify-items: center;
  align-items: center;
}

#rec_grid1 img {
  width: 400px;
}

#rec_grid2 a,
#rec_grid3 a,
.start_button a {
  display: grid;
  height: 100%;
  width: 50%;
  text-align: center;
  align-items: center;
  background-color: #b07009;
  border: 2px solid #000b1d;
  border-radius: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  transition: 0.2s;
}

#rec_grid2 a:hover,
#rec_grid3 a:hover,
.start_button a:hover {
  background-color: #733706;
  transition: 0.4s;
}

#search_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
  align-items: center;
  justify-items: center;
}

#search_box {
  text-align: center;
}

#search_bar {
  width: 100%;
  height: 28px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

#about_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 30px;
}

#about_img img,
#rec_grid1 img,
.main_pic img,
.steps_media img {
  border: 2px solid #000b1d;
  border-radius: 5px;
}

.steps_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 30px;
}

.steps {
  padding: 20px 15px;
  border: 2px ridge #000b1d;
  border-radius: 5px;
}

.steps_media img {
  width: 450px;
}

.button_container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.button_container button,
#search_button {
  width: 100px;
  height: 30px;
  border: 1px solid #000b1d;
  border-radius: 5px;
  cursor: pointer;
}

#list_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

#list_grid textarea {
  width: 100%;
}

#list_input label,
#list_output label {
  font-weight: bolder;
}

.tut_main_grid {
  display: flex;
  align-items: center;
}

.main_pic {
  display: flex;
  flex: 2 2 20em;
  justify-content: center;
}

.start_button {
  display: flex;
  flex: 1 1 10em;
  height: 40px;
  justify-content: center;
}

li a {
  text-decoration: underline;
}

.button_container /* TODO remove me when hifi phase over */ {
  visibility: hidden;
}

/* mobile users */
@media screen and (max-width: 480px) {
  html {
    margin: 0 4%;
  }

  #grid_main {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .tut_grid_list {
    grid-gap: 25px;
  }

  #rec_grid1,
  #rec_grid2,
  #rec_grid3 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }

  #rec_grid1,
  #rec_grid2,
  #rec_grid3,
  .rec_header {
    text-align: center;
  }

  #rec_grid1 img {
    width: 320px;
  }

  #about_grid {
    grid-template-columns: none;
    justify-content: center;
  }

  .steps_grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .steps_media img {
    width: 300px;
  }

  #about_blurb {
    width: 90%;
  }

  #list_grid {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }

  .tut_main_grid {
    flex-direction: column;
    align-content: space-between;
  }

  .main_pic img {
    width: 320px;
    margin-bottom: 20px;
  }

  .start_button {
    flex-basis: 40px;
    width: 150px;
    justify-content: center;
  }
}
